@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

body>div {
    margin: 50px 0px;
    border-radius: 10px;
    width: 1320px;
}

.first {
    background: linear-gradient(to bottom, black, transparent), url('media/Banner Image.png');
    font-family: "Merriweather", serif;
    height: 600px;
    width: 1320px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;


}

.first h1 {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px
}

.first p {
    font-size: 30px;
    margin-bottom: 0px;
}



.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 806px;
    width: 806px;
}

.sectext p {
    font-size: 88px;
    margin-bottom: 50px;

}

.sectext h5 {
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0;

}

.sectext h1 {
    font-size: 48px;
    margin-top: 5px;

}

.sectext>p,
h5 {
    color: red;

}

.third {
    background-image: linear-gradient(to right, black, transparent), url('media/Vectorrr.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1320px;

}

.thirtext {
    color: white;
    margin-left: 100px;

}

.thirImage {
    margin-right: 100px;
}

.thirtext>h1 {
    font-family: "Merriweather", serif;
    font-size: 64px;
}

.but {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
}

.thirtext p {
    font-size: 18px;
}

.thirtext p:nth-child(odd) {
    width: 80%;
    opacity: 0.8;
    font-family: "Inter", sans-serif;

}

.fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, pink, white);
    height: 482px;
    width: 1320px;
    font-weight: bolder;
}

.fourth p:nth-child(-n+3) {
    font-size: 42px;


}

.fourth p:nth-child(1) {
    margin-bottom: 0px;


}

.fourth p:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;


}

.fourth p:nth-child(3) {
    margin-top: 0px;


}

.fourth span {
    color: red;


}

.secp {
    background-color: red;
    padding: 20px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.fifth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 463px;
    width: 1320px;
}

.fifth .fiftext1 {
    max-width: 350px;

}

.fifth .fiftext2 {
    max-width: 350px;

}


.circle_image {
    border-radius: 50%;
    border: 10px solid red;
    padding: 10px;

}

.fiftext1 h3 {
    color: red;
    margin-bottom: 5px;
    margin-top: 0px;
}

.fiftext1 h1 {
    margin-top: 0;
}

.fiftext2 h1 {
    color: red;

}

.sixText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sixText span {
    color: red;
}

.sixText p:nth-child(2) {
    font-size: 72px;
    margin-bottom: 10px;
    font-family: "Merriweather", serif;
    margin-top: 0px;
}

.sixText p:nth-child(3) {
    text-align: center;
    margin-top: 0px;
    width: 70%;
}

.sixth {}

.siximage {
    position: relative;




}

.sm1 {
    background-color: white;
    width: 60%;

}

.sm2 {
    width: 40%;

}

.sm2 img {

    width: 100%;
    height: 100%;
}

.sm12 {

    display: flex;
    width: 100%;
}

.sm3 {

    width: 100%;
}

.absimg1 {
    position: absolute;
    top: 150px;
}

.absimg2 {
    position: absolute;
    left: 650px;


}


.sectext {
    position: relative;
}

.sevf3,
.sevl3 {
    display: flex;
    width: 100%;
    margin: 5px 0px;
    gap: 20px;

}

.sevf3 {
    margin-bottom: 20px;
}

.sevf3 img:hover,
.sevl3 img:hover {
    box-shadow: #242424 4px 10px 16px;
    border-radius: 20px;
}

.sevf3 img,
.sevl3 img {
    flex: 1;
}

.sevtext p:nth-child(1) {
    font-size: 24px;
    color: red;
}

.sevtext h1 {
    font-family: "Merriweather", serif;
}




.eight {
    background-color: #FFF2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 616px;
    width: 1320px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    width: 640px;


}

input {
    border-radius: 50px 0 0 50px;
    height: 50px;
    padding-left: 24px;
    width: 80%;
    border: none;

}

input:focus {
    outline: none;
}

.subut {
    background-color: red;
    color: #fff;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    padding: 0px 16px 0px 12px;
    height: 50px;
    width: 20%;

}

footer {
    background-color: black;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;

}

footer>div {
    color: white;

}

.ft1txt,
.ft1img,
.ft3>p {
    padding-top: 50px;
    width: 50%;
}

.ft1,
.ft3 {
    display: flex;
}

.ft3 {
    padding-bottom: 50px;
}

.ft1img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ft1img>div {
    display: flex;
    align-items: center;

}

.ft1img img {
    aspect-ratio: 1;
    height: 15px;


}

.ft1img p {
    padding-left: 10px;
}

.ftimg {
    padding: 50px 0px;
}

hr {
    border-color: rgb(57, 56, 56);
    width: 80%;
}